h1{
	text-align: center;
	}
	#navigation{
		float: right;
	}
	#search{
			padding: 10px;
			width:200px;
			margin-left: 25px;
			border: 1px solid darkgrey;
			margin-bottom: 50px;
			border-style: solid;
			border-radius: 10px;
			background-color: white;
	}
	body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] 
{
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.container 
{
    padding: 16px;
}

.modal 
{
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

	

.modal-content 
{
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 500px; 
}
.cancelbtn, .h
{
	padding: 16px;
	display: inline-block;
}
.but{
padding: 16px;
}